<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body  id="page--indicator">

    <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

    {% include banner.html %}
    <div class="main-content">
      <div id="site-canvas" data-type="{{ page.entity_type}}" data-id="{{ page.entity }}">
        <div class="row contain spaced-row">

          <h1 class="page--title">{{ page.name }}</h1>
          {% if page.entity == "f10" %}
          <p class="label">This indicator only applies to telecommunications companies.</p>
          {% endif %}

          {% if page.entity == "f11" or page.entity == "p8" or page.entity == "p13" %}
          <p class="label">This indicator only applies to internet companies.</p>
          {% endif %}


          <div class="displaytext">

            {% if page.text %}
            <h2 style="margin-bottom: .5em;">{{ page.text }}</h2>
            {% endif %}

            {% if page.levels.size %}
            {% for level in page.levels %}
            <p class="indicator--sub_text">{{ level.text }}</p>

            {% if page.follow == true and forloop.index == 1 %}
            <p class="indicator--sub_text">B. If not, does the company satisfy any of the following elements?</p>
            {% endif %}


            {% if level.choices.size %}
            <ul class="indicator--sub_choices">
              {% for choice in level.choices %}
              <li>{{ choice.text }} Possible score: {{ choice.score }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% if page.choices.size %}
            <ul class="indicator--choices">
              {% for choice in page.choices %}
              <li>{{ choice.text }} Possible score: {{ choice.score }}</li>
              {% endfor %}
            </ul>
            {% endif %}


            <div class="trigger">
              <a class="js--expand">Show research guidance <span class="collecticon collecticon-sm-triangle-down"></span></a>
              <a class="js--collapse">Hide research guidance <span class="collecticon collecticon-sm-triangle-down"></span></a>
            </div>
            <div class="collapse--target">
              {{ content }}
              <p>For more information, <a href="https://rankingdigitalrights.org/project-documents/2015-indicators/#appendix1">click here for a glossary of terms</a>.</p>
            </div>

          </div>
        </div>

        <div class="row spaced-row contain">
          <h2 class="">Overall Company Performance</h2>
          <div class="barchart--container" id="indicator--overview_chart"></div>
        </div>


        <div class="row spaced-row contain" id="indicator--companies">
          <h2 class="">Company Performance</h2>
        </div>

      </div>
    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

  </body>
  
</html>