<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

{% include head.html %}

<body id="page--index">

  <!--[if lt IE 10]>
         <div id="nocando">
           <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         </div>
      <![endif]-->

  <!-- Header -->
  {% include banner.html %}

  <!-- Page itro -->
  <div class="page--intro non-highlihted-bg">
    <div class="row contain">
      <p>{{ page.intro }}</p>
    </div>
  </div>

    <div id="site-canvas" data-type="{{ page.visualization }}" data-id="{{ page.entity }}">

      <div class="contain row">
        <h1 class="page--title">
          {{ page.header }}
        </h1>
        <section id="map" class="world-map non-highlihted-bg">
          <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
          <script src="{{ site.baseurl }}/node_modules/datamaps/dist/datamaps.all.min.js"></script>
          <div id="container"></div>
          
          <script>
            // example data from server
            var series = [
                ["BLR",75],["BLZ",43],["RUS",50],["RWA",88],["SRB",21],["TLS",43],
                ["REU",21],["TKM",19],["TJK",60],["ROU",4],["TKL",44],["GNB",38],
                ["GUM",67],["GTM",2],["SGS",95],["GRC",60],["GNQ",57],["GLP",53],
                ["JPN",59],["GUY",24],["GGY",4],["GUF",21],["GEO",42],["GRD",65],
                ["GBR",14],["GAB",47],["SLV",15],["GIN",19],["GMB",63],["GRL",56],
                ["ERI",57],["MNE",93],["MDA",39],["MDG",71],["MAF",16],["MAR",8],
                ["MCO",25],["UZB",81],["MMR",21],["MLI",95],["MAC",33],["MNG",93],
                ["MHL",15],["MKD",52],["MUS",19],["MLT",69],["MWI",37],["MDV",44],
                ["MTQ",13],["MNP",21],["MSR",89],["MRT",20],["IMN",72],["UGA",59],
                ["TZA",62],["MYS",75],["MEX",80],["ISR",77],["FRA",54],["IOT",56],
                ["SHN",91],["FIN",51],["FJI",22],["FLK",4],["FSM",69],["FRO",70],
                ["NIC",66],["NLD",53],["NOR",7],["NAM",63],["VUT",15],["NCL",66],
                ["NER",34],["NFK",33],["NGA",45],["NZL",96],["NPL",21],["NRU",13],
                ["NIU",6],["COK",19],["XKX",32],["CIV",27],["CHE",65],["COL",64],
                ["CHN",16],["CMR",70],["CHL",15],["CCK",85],["CAN",76],["COG",20],
                ["CAF",93],["COD",36],["CZE",77],["CYP",65],["CXR",14],["CRI",31],
                ["CUW",67],["CPV",63],["CUB",40],["SWZ",58],["SYR",96],["SXM",31]];


            // Datamaps expect data in format:
            // { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
            //   "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
            var dataset = {};

            // We need to colorize every country based on "numberOfWhatever"
            // colors should be uniq for every value.
            // For this purpose we create palette(using min/max series-value)
            var onlyValues = series.map(function(obj){ return obj[1]; });
            var minValue = Math.min.apply(null, onlyValues),
                    maxValue = Math.max.apply(null, onlyValues);

            // create color palette function
            // color can be whatever you wish
            var paletteScale = d3.scale.linear()
                    .domain([minValue,maxValue])
                    .range(["#EFEFFF","#02386F"]); // blue color

            // fill dataset in appropriate format
            series.forEach(function(item){ //
                // item example value ["USA", 70]
                var iso = item[0],
                        value = item[1];
                dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value) };
            });

            // render map
            new Datamap({
                element: document.getElementById('container'),
                //projection: 'mercator', // big world map

                height: null, // If not null, datamaps will grab the height of 'element'
                width: null, // If not null, datamaps will grab the width of 'element',
                responsive: true, // If true, call `resize()` on the map object when it should adjust it's size

                // countries don't listed in dataset will be painted with this color
                fills: { 
                  defaultFill: '#F5F5F5' 
                },
                data: dataset,
                geographyConfig: {
                    borderColor: '#DEDEDE',
                    highlightBorderWidth: 2,
                    // don't change color on mouse hover
                    highlightFillColor: function(geo) {
                        return geo['fillColor'] || '#F5F5F5';
                    },
                    // only change border
                    highlightBorderColor: '#B7B7B7',
                    // show desired information in tooltip
                    popupTemplate: function(geo, data) {
                        // don't show tooltip if country don't present in dataset
                        if (!data) { return ; }
                        // tooltip content
                        return ['<div class="hoverinfo">',
                            '<strong>', geo.properties.name, '</strong>',
                            '<br>Count: <strong>', data.numberOfThings, '</strong>',
                            '</div>'].join('');
                    }
                }
            });
          </script>
        </section>
      </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}
    
    <!-- Go to top HTML -->
    <a href="#" class="go-to-top">Top</a>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- JS -->
    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

    <!-- Tabs JS -->
    <script type="text/javascript">
      // Equal heghts
      var tabsFn = (function () {
        function init() {
          setHeight();
        }
        function setHeight() {
          var $tabPane = $('.tab-pane-wrapper'),
            tabsHeight = $('.nav-tabs').height();
          $tabPane.css({
            height: tabsHeight
          });
        }
        $(init);
      })();

      // Current tab
      $(document).ready(function () {
        $('ul.nav-tabs li').click(function () {
          var tab_id = $(this).attr('data-tab');
          $('ul.nav-tabs li').removeClass('current');
          $('.tab-pane-wrapper').removeClass('current');
          $(this).addClass('current');
          $("#" + tab_id).addClass('current');
        })
      })
    </script>
    
    <!-- Go to top JS -->
    <script type="text/javascript">
      jQuery(document).ready(function($){
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
          //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
          offset_opacity = 1200,
          //duration of the top scrolling animation (in ms)
          scroll_top_duration = 700,
          //grab the "back to top" link
          $back_to_top = $('.go-to-top');
        //hide or show the "back to top" link
        $(window).scroll(function(){
          ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('is-visible') : $back_to_top.removeClass('is-visible fade-out');
          if( $(this).scrollTop() > offset_opacity ) { 
            $back_to_top.addClass('fade-out');
          }
        });
        //smooth scroll to top
        $back_to_top.on('click', function(event){
          event.preventDefault();
          $('body,html').animate({
            scrollTop: 0 ,
            }, scroll_top_duration
          );
        });
      });      
    </script>

</body>

</html>