# System files
.project
.DS_Store
.sass-cache
.vscode
node_modules
app/assets/bower_components
_site
.tmp
*.log
yarn.lock

# Local
.resources
.bundle
bundle

# Python scripting resources
bin/raw
*.pyc
