#page--indicators {
	.page--intro {
		padding-bottom: 0px;
	}
	.indicators-wrapper {
		.indicator-item {
			margin-bottom: 30px;
			h2.page--subtitle {
				line-height: 1em;
				font-size: 2.8em;
			}
		}
		ul.indicator-list {
			li {
				a:link, 
				a:visited, 
				a:hover, 
				a:active {
					color: #5e5e5e;
				}
			}
		}
		.container--left {
        	@include media(small-up) {
        		@include span-columns(12);	
        	}
        	@include media(medium-up) {
				@include span-columns(6);  
        	}
        	@include media(large-up) {}
        	@include media(xlarge-up) {}			
	    	@include media(medium-up) {
	      		@include span-columns(6);
	    	}
	  	}
	  	.container--right {
		    margin-right: 0;
	        @include media(small-up) {
	        	@include span-columns(12);	
	        }
	        @include media(medium-up) {
				@include span-columns(6);  
	        }
	        @include media(large-up) {}
	        @include media(xlarge-up) {}	    
		}
	}
}