#page--indicators {

	.page--intro {
		padding-bottom: 0px;
	}

	.indicators-wrapper {

		.indicator-item {
			margin-bottom: 30px;
			h2.page--subtitle {
				line-height: 1em;
				font-size: 2.8em;
			}
		}

		ul.indicator-list {
			li {
				a:link, 
				a:visited, 
				a:hover, 
				a:active {
					color: #5e5e5e;
				}
			}
		}

		#G1, #G2, #G3, #G4, #G5, 
		#F1, #F2, #F3, #F4, #F5, #F6, #F7, #F8, #F9, #F10, #F11,
		#P1, #P2, #P3, #P4, #P5, #P6, #P7, #P8, #P9, #P10, #P11, #P12, #P13, #P14, #P15, #P16, #P17, #P18 {
		padding-top: 1.5em;
    	padding-bottom: 0em;
    	clear: both;
	        @include media(small-up) {
			padding-top: 1.5em;
	    	padding-bottom: 0em;
	        }
	        @include media(medium-up) {
			padding-top: 1.5em;
	    	padding-bottom: 0em;	  
	        }
	        @include media(large-up) {
			padding-top: 1.5em;
	    	padding-bottom: 0em;
	        }
	        @include media(xlarge-up) {
			padding-top: 1.5em;
	    	padding-bottom: 0em;	 
	        }    	
		}
		#G1 {
		padding-top: 0 !important;
		padding-bottom: 1em !important;	
		}		
		#G1, #G2, #G3, #G4, #G5 {
			h3 {
			color: $cat-commitment !important;
			  &:hover {
			  color: $cat-commitment !important;
			  }
	        }
		}
		#F1, #F2, #F3, #F4, #F5, #F6, #F7, #F8, #F9, #F10, #F11 {
			h3 {
			color: $cat-freedom !important;
			  &:hover {
			  color: $cat-freedom !important;
			  }
			}
		}
		#P1, #P2, #P3, #P4, #P5, #P6, #P7, #P8, #P9, #P10, #P11, #P12, #P13, #P14, #P15, #P16, #P17, #P18 {
			h3 {
			color: $cat-privacy !important;
			  &:hover {
			  color: $cat-privacy !important;
			  }				
			}
		}
	    .company-type {
	    margin-top: 1em;	
	    font-family: $simplon-light;
	    color: $black;
	    font-size: 11px;
	    line-height: 1.3; 
	    letter-spacing: 1px;
	    text-transform: uppercase;
	      @include media(small-up) {
	      font-size: 11px;  
	      }
	      @include media(medium-up) {
	      font-size: 12px;  
	      }
	      @include media(large-up) {
	      font-size: 13px;
	      }
	      @include media(xlarge-up) {
	      font-size: 13px;  
	      }        
	    }
	    .container--left {
	    	i {
	    	color: $red;	
	    	}
	    }
	    .container--right {
	    	i {
	    	color: $orange;	
	    	}
	    }	    
		.bar--container {
	        label {
	        font-family: $simplon-light;  
	        text-transform: uppercase;
	        color: $black;
	        font-size: 12px;
	        line-height: 1.3; 
	        letter-spacing: 1px;
	        margin-bottom: 0px;
	          @include media(small-up) {
	          font-size: 12px;  
	          }
	          @include media(medium-up) {
	          font-size: 13px;  
	          }
	          @include media(large-up) {
	          font-size: 14px;
	          }
	          @include media(xlarge-up) {
	          font-size: 14px;  
	          }   
	        }					
		}
        .bar--chart {
        width: 100%;	
	        .bar--axis_x {
				.tick {
				cursor: pointer;	
				text-align: center;
				line-height: 2;               
				fill: $black;
				font-weight: 600;
				font-family: $simplon-regular;
				text-transform: uppercase;                 
				font-size: 9px;
					@include media(small-up) {
					font-size: 9px;
					}
					@include media(medium-up) {
					font-size: 10px;  
					}
					@include media(large-up) {
					font-size: 11px;
					}
					@include media(xlarge-up) {
					font-size: 13px;  
					}
					&:hover {
					text-decoration: underline; 	
					}
					text {
					transform: rotate(-90deg);
				        @include media(small-up) {
				        transform: rotate(-90deg);	
				        }
				        @include media(medium-up) {
						transform: none;				  
				        }
				        @include media(large-up) {
						transform: none;
				        }
				        @include media(xlarge-up) {
						transform: none;				 
				        }						
					} 														
				}
	        }
	        .G {
	        width: 100% !important;	
		        .bar--default {
				fill: $cat-commitment;
				  &:hover {
				  fill: $cat-commitment-hover !important;
				  }
		        }
	        }
	        .F {
	        width: 100% !important;	
		        .bar--default {
				fill: $cat-freedom;
				  &:hover {
				  fill: $cat-freedom-hover !important;
				  }
		        }
	        }
	        .P {
	        width: 100% !important;	
		        .bar--default {
				fill: $cat-privacy;
				  &:hover {
				  fill: $cat-privacy-hover !important;
				  }
		        }
	        }	        	
        }
		.container--left {
        @include media(small-up) {
        @include span-columns(12);	
        }
        @include media(medium-up) {
		@include span-columns(6);  
        }
        @include media(large-up) {

        }
        @include media(xlarge-up) {
 
        }			
	    @include media(medium-up) {
	      @include span-columns(6);
	    }
	  }
	  .container--right {
	    margin-right: 0;
        @include media(small-up) {
        @include span-columns(12);	
        }
        @include media(medium-up) {
		@include span-columns(6);  
        }
        @include media(large-up) {

        }
        @include media(xlarge-up) {
 
        }	    
	  }

	}

}



/*.indicator--sub_text {
  line-height: 1.8em;
}*/

.indicator--choices,
.indicator--sub_choices {
  margin-top: 1em;
  list-style: initial;

  li {
    margin-left: 1em;
    @include media(large-up) {
      margin-left: 2em;
    }
  }
}
