#page--indicators {
	.page--intro {
		padding-bottom: 0px;
	}
	.indicators-wrapper {
		.indicator-item {
			margin-bottom: 30px;
			h2.page--subtitle {
				line-height: 1em;
				font-size: 2.8em;
			}
		}
		ul.indicator-list {
			li {
				a:link, 
				a:visited, 
				a:hover, 
				a:active {
					color: #5e5e5e;
				}
			}
		}
		.container--left {
        	@include media(small-up) {
        		@include span-columns(12);	
        	}
        	@include media(medium-up) {
				@include span-columns(6);  
        	}
        	@include media(large-up) {}
        	@include media(xlarge-up) {}			
	    	@include media(medium-up) {
	      		@include span-columns(6);
	    	}
	  	}
	  	.container--right {
		    margin-right: 0;
	        @include media(small-up) {
	        	@include span-columns(12);	
	        }
	        @include media(medium-up) {
				@include span-columns(6);  
	        }
	        @include media(large-up) {}
	        @include media(xlarge-up) {}	    
		}
	}
}

#indicator-page-content{

	a.toogle {
		color: #313131 !important;
		font-size: 1.250em;
		line-height: 1.5em;
		font-weight: 600;
	}
	p.text {
		display: none;
	}

	#indicator--companies{
		.company--table{
			h2{}
			table{
				thead{
					tr{
						background-color: white;
						border-bottom: 2px solid $border-gray-color;
						th{
							padding: 0 0 15px 0;
							vertical-align: middle;
						}
						th:nth-child(2n+2) {
							background: #f1f1f3;
						}
						.cell--first{
							font-size: 1.25em;
							line-height: 1.3em;
						}
					}
				}
				tbody,tfoot{
					tr{
						td{
							text-align: center;
							padding-top: 15px;
							padding-bottom: 15px;
							line-height: 1.3em;
							&:first-child{
								text-align: left;
								padding-left: 5px;
								padding-right: 5px;
							}
						}

					}
				}
				tbody{
					tr{
						td:nth-child(2n+2) {
							background: #f1f1f3;
						}
					}
				}
				tfoot{
					tr{
						td{
							font-weight: bold;
							padding-top: 5px;
							padding-bottom: 5px;
							&:first-child{
								text-transform: uppercase;
								font-size: 1.5em;
							}
						}
					}
				}
			}
		}
	}
}