#page--compare {

  .page--intro {
    padding-bottom: 0;
  }

  .highlihted-bg {
    margin-bottom: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .item {
    padding: 0px;
    .row {
      border-top: 2px solid $black;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 3em;
      padding-bottom: 2.2em;
      position: relative;

      .container--score {
        @include span-columns(2);
        @include media(small-up) {
          @include span-columns(2);
        }
        @include media(medium-up) {
          @include span-columns(2);
        }
        @include media(large-up) {
          @include span-columns(1);
        }
      }

      .container--title {
        @include span-columns(6);
        @include media(small-up) {
          @include span-columns(6);
        }
        @include media(medium-up) {
          @include span-columns(6);
        }
        @include media(large-up) {
          @include span-columns(3);
        }
      }

      .container--body {
        @include span-columns(12);
        @include media(small-up) {
          @include span-columns(12);
        }
        @include media(medium-up) {
          @include span-columns(12);
        }
        @include media(large-up) {
          @include span-columns(8);
        }
      }

      .container--score {
        //span{
        //  border-radius: 2px;
        //  color: #FFFFFF;
        //  display: inline-block;
        //  font-weight: bold;
        //  padding-top:5px;
        //  height: 25px;
        //  width: 80%;
        //  text-align: center;
        //  margin-top: 6px;
        //}
        span {
          position: relative;
          //background-color: #00A65A;
          //border: 1px solid #00A65A;
          display: inline-block;
          font-weight: bold;
          color: #FFFFFF;
          padding:5px;
          height: 28px;
          text-align: center;
          margin-top: 6px;
          border-radius: 2px;
        }
        span:after, span:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        span:after {
          border-color: rgba(0, 166, 90, 0);
          //border-left-color: #00A65A;
          border-width: 5px;
          margin-top: -5px;
        }
        span:before {
          border-color: rgba(0, 166, 90, 0);
          //border-left-color: #00A65A;
          border-width: 6px;
          margin-top: -6px;
        }
        .positive {
          background-color: #00A65A;
          border: 1px solid #00A65A;
          &:after{
            border-left-color: #00A65A;
          }
          &:before{
            border-left-color: #00A65A;
          }
        }
        .negative {
          background-color: #B7000D;
          border: 1px solid #B7000D;
          &:after{
            border-left-color: #B7000D;
          }
          &:before{
            border-left-color: #B7000D;
          }
        }
        .zero {
          background-color: #777777;
          border: 1px solid #777777;
          &:after{
            border-left-color: #777777;
          }
          &:before{
            border-left-color: #777777;
          }
        }
      }
      .container--body {
        margin: 0;
        a{
          color: #313131;
          font-weight: bold;
          i {
            bottom: 10px;
            font-size: 20px;
            right: 10px;
            position: absolute;
          }
        }
      }
    }
  }
}

#compare--overview_chart {

  .chart rect {
    fill: #D0DBCB;
  }
  .bar.positive {
    fill: #D0DBCB;
  }
  .bar.negative {
    fill: #DFD8CE;
  }
  .axis path, .axis line {
    fill: none;
    stroke: #DFD8CE;
    shape-rendering: crispEdges;
  }
  .company--name {
    font-size: 16px;
    color: #FFFFFF;
  }

  .legend {
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
  }
  .legend--zero {
    fill: #787878;
  }
  .legend--positive {
    fill: #8BC43F;
  }
  .legend--negative {
    fill: #F05A28;
  }

  .rank {
    fill: #ffffff;
    font-size: 13px;
    font-weight: bold;
  }

}