<div class="banner">
  <div class="row contain">

    <div class="banner--internal">
      <a href="https://rankingdigitalrights.org">
        <img class="logo" src="{{ site.baseurl }}/assets/graphics/layout/rdr_logo.svg"></img>
      </a>
      <a href="https://rankingdigitalrights.org">
        <img class="rdr" src="{{ site.baseurl }}/assets/graphics/layout/rdr_hed.svg"></img>
      </a>

      <button class="bttn--hamburger">
        <span>Open Menu</span>
      </button>
    </div>

    <div class="medium-up" style="margin-top: -2px;">
      <ul class="nav">
        <li class="nav--item"><a href="https://rankingdigitalrights.org/category/blog/">Blog</a></li>
        <li class="nav--item dropdown--trigger"><a href="{{ site.baseurl }}">Corporate Accountability Index</a>
          <ul class="dropdown" id="dropdown-corporate">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/index2015/">Index 2015</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/index2017/">Index 2017</a></li>
          </ul>
        </li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-about"><a href="#">About</a>
          <ul class="dropdown" id="dropdown-about">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/about/">Project Overview</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/events/">Upcoming Events</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/project-documents/timeline/">Timeline</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/methodology-development/">Methodology Development</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/resources/">Background Reading</a></li>
          </ul>
        </li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-who"><a href="#">Who We Are</a>
          <ul class="dropdown" id="dropdown-who">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/">Our Team</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/affiliates/">Affiliates</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/partners/">Funders and Partners</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/advisory-council/">Advisory Council</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/contact/">Contact<a></li>
          </ul>
        </li>
        <li class="nav--item"><a href="https://rankingdigitalrights.org/who/frequently-asked-questions/">FAQ</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="nav--mobile">
  <div class="nav--vertical">
    
    <div class="blue-nav-bg">

      <div class="nav--item_vertical"><a href="https://rankingdigitalrights.org/category/blog/">Blog</a></div>
      <div class="nav--item_vertical nav--item_active"><a href="{{ site.baseurl }}">Corporate Accountability Index</a></div>
      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-about-mobile">
        <a href="#">About</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>

      <ul class="dropdown dropdown--mobile" id="dropdown-about-mobile">
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/about/">Project Overview</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/events/">Upcoming Events</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/project-documents/timeline/">Timeline</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/methodology-development/">Methodology Development</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/resources/">Background Reading</a></li>
      </ul>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-who-mobile">
        <a href="#">Who we are</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>

      <ul class="dropdown dropdown--mobile" id="dropdown-who-mobile">
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/">Our Team</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/affiliates/">Affiliates</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/partners/">Funders and Partners</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/advisory-council/">Advisory Council</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/contact/">Contact</a></li>
      </ul>

      <div class="nav--item_vertical"><a href="https://rankingdigitalrights.org/who/frequently-asked-questions/">FAQ</a></div>

    </div>

    <div class="gray-nav-bg">  

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}">Index</a></div>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-narrative-mobile">
        <a href="{{ site.baseurl }}/narrative">Report</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>      
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-narrative-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/narrative">Index Metodology</a></li>
      </ul>

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}/compare">Compare</a></div>

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}/companies">Companies</a></div>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-services-mobile">
        <a href="{{ site.baseurl }}/services">Services</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>      
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-services-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services">All services</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/cloudservices">Cloud services</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/emailservice">Email service</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/fixedbroadband">Fixed broadband</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/messagingvoip">Messaging & VOIP</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/mobileeco">Mobile ecosystems</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/prepostpaidmobile">Pre- and Post- paid Mobile</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/search">Search</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/socialnetworkblog">Social network & blog</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/videophoto">Video/Photo</a></li>            
      </ul>    

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-categories-mobile">
        <a href="#">Categories</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-categories-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/governance">Governance</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/freedom-of-expression">Freedom Of Expression</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/privacy">Privacy</a></li>
      </ul>

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}/indicators">Indicators</a></div>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-findings-mobile">
        <a href="#">Findings</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>      
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-findings-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/findings/keyfindings">Key findings</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/findings/recommendations">Recommendations</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/findings/methodologyandscoring">Methodology and scoring</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/findings/mobileecosystems">Mobile ecosystems</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/findings/networkshutdowns">Network shutdowns</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/findings/russia">Russian Companies</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/findings/china">Chinese Companies</a></li>      
      </ul>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-narrative-mobile">
        <a href="{{ site.baseurl }}/narrative">Narrative</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>      
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-narrative-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/narrative">Index Methodology</a></li>
      </ul>    

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}/download">Download</a></div>

    </div>
      
  </div>
</div>


<div class="secondary-navigation">
  <div class="row contain">
    <div class="medium-up">
      <ul class="nav">
        <li class="nav--item index"><a href="/">Index</a></li>
        <li class="nav--item narrative dropdown--trigger" data-dropdown="dropdown-narrative">
          <a href="{{ site.baseurl }}/narrative">Report</a>
          <ul class="dropdown" id="dropdown-narrative">
            <li class="dropdown--item"><a href="{{ site.baseurl }}/narrative">Index Methodology</a></li>
          </ul>
        </li>
        <li class="nav--item compare"><a href="{{ site.baseurl }}/compare">Compare</a></li>
        <li class="nav--item companies dropdown--trigger" data-dropdown="dropdown-companies">
          <a href="{{ site.baseurl }}/companies">Companies</a>
          <ul class="dropdown dropdown-companies" id="dropdown-companies">
            <li class="dropdown--item-wrapper">
              <ul class="internet-and-mobile-companies">
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/apple"><i class="fa fa-circle"></i>Apple</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/baidu"><i class="fa fa-circle"></i>Baidu</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/facebook"><i class="fa fa-circle"></i>Facebook</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/google"><i class="fa fa-circle"></i>Google</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/kakao"><i class="fa fa-circle"></i>Kakao</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/mailru"><i class="fa fa-circle"></i>Mail.ru</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/microsoft"><i class="fa fa-circle"></i>Microsoft</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/samsung"><i class="fa fa-circle"></i>Samsung</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/tencent"><i class="fa fa-circle"></i>TenCent</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/twitter"><i class="fa fa-circle"></i>Twitter</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/yahoo"><i class="fa fa-circle"></i>Yahoo</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/yandex"><i class="fa fa-circle"></i>Yandex</a></li>
              </ul>
            </li>
            <li class="dropdown--item-wrapper">    
              <ul class="telecommunications-companies">
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/americamovil"><i class="fa fa-circle"></i>América Móvil</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/att"><i class="fa fa-circle"></i>AT&T</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/axiata"><i class="fa fa-circle"></i>Axiata</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/bhartiairtel"><i class="fa fa-circle"></i>Bharti Airtel</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/etisalat"><i class="fa fa-circle"></i>Etisalat</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/mtn"><i class="fa fa-circle"></i>MTN</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/ooredoo"><i class="fa fa-circle"></i>Ooredoo</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/orange"><i class="fa fa-circle"></i>Orange</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/telefonica"><i class="fa fa-circle"></i>Telefónica</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/vodafone"><i class="fa fa-circle"></i>Vodafone</a></li>
              </ul>
            </li>            
          </ul>          
        </li>
        <li class="nav--item services dropdown--trigger" data-dropdown="dropdown-services">
          <a href="{{ site.baseurl }}/services">Services</a>
          <ul class="dropdown" id="dropdown-services">
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/cloudservices">Cloud</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/emailservice">Email</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/fixedbroadband">Fixed-line broadband</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/messagingvoip">Messaging &amp; Voip</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/mobileeco">Mobile Ecosystems</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/prepostpaidmobile">Pre- and post-Paid mobile</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/search">Search engines</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/socialnetworkblog">Social Networking &amp; blog</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/videophoto">Video &amp; photo sharing</a></li>
          </ul>          
        </li>
        <li class="nav--item categories dropdown--trigger" data-dropdown="dropdown-categories">
          <a href="#">Categories</a>
          <ul class="dropdown" id="dropdown-categories">
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/governance">Governance</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/freedom-of-expression">Freedom of Expression</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/privacy">Privacy</a></li>
          </ul>
        </li>

        <li class="nav--item indicators dropdown--trigger" data-dropdown="dropdown-indicators">
          <a href="{{ site.baseurl }}/indicators">Indicators</a>
          <ul class="dropdown" id="dropdown-indicators">
            <li class="dropdown--item dropdown--trigger" data-dropdown="dropdown-indicators-governance">
              <a href="{{ site.baseurl }}/indicators/governance">Governance</a>
              <ul class="dropdown" id="dropdown-indicators-governance">
                <li class="dropdown--item"><a href="">G1.  Policy Commitment</a></li>
                <li class="dropdown--item"><a href="">G2. Governance and management oversight</a></li>
                <li class="dropdown--item"><a href="">G3. Internal implementation  </a></li>
                <li class="dropdown--item"><a href="">G4. Impact assessment  </a></li>
                <li class="dropdown--item"><a href="">G5. Stakeholder engagement</a></li>
                <li class="dropdown--item"><a href="">G6. Remedy</a></li>
              </ul>
            </li>

            <li class="dropdown--item dropdown--trigger" data-dropdown="dropdown-indicators-freedom">
              <a href="{{ site.baseurl }}/indicators/freedom-of-expression">Freedom of Expression</a>
              <ul class="dropdown" id="dropdown-indicators-freedom">
                <li class="dropdown--item"><a href="">F1. Access to terms of service</a></li>
                <li class="dropdown--item"><a href="">F2. Changes to terms of service</a></li>
                <li class="dropdown--item"><a href="">F3. Process for terms of service enforcement</a></li>
                <li class="dropdown--item"><a href="">F4. Data about terms of service enforcement </a></li>
                <li class="dropdown--item"><a href="">F5. Process for responding to third-party requests for content or account restriction</a></li>
                <li class="dropdown--item"><a href="">F6. Data about government requests for content or account restriction</a></li>
                <li class="dropdown--item"><a href="">F7. Data about private requests for content or account restriction</a></li>
                <li class="dropdown--item"><a href="">F8. User notification about content and account restriction</a></li>
                <li class="dropdown--item"><a href="">F9. Network management (telecommunications companies)</a></li>
              </ul>

            </li>
            <li class="dropdown--item dropdown--trigger" data-dropdown="dropdown-indicators-privacy">
              <a href="{{ site.baseurl }}/indicators/privacy">Privacy</a>
              <ul class="dropdown" id="dropdown-indicators-privacy">
                <li class="dropdown--item"><a href="">P1. Access to privacy policies</a></li>
                <li class="dropdown--item"><a href="">P2. Changes to privacy policies</a></li>
                <li class="dropdown--item"><a href="">P3. Collection of user information</a></li>
                <li class="dropdown--item"><a href="">P4. Sharing of user information</a></li>
                <li class="dropdown--item"><a href="">P5. Purpose for collecting and sharing user information</a></li>
                <li class="dropdown--item"><a href="">P6. Retention of user information  </a></li>
                <li class="dropdown--item"><a href="">P7. Users’ control over their own user information</a></li>
                <li class="dropdown--item"><a href="">P8. Users’ access to their own user information</a></li>
                <li class="dropdown--item"><a href="">P9. Collection of user information from third parties (Internet companies)</a></li>
                <li class="dropdown--item"><a href="">P10. Process for responding to third-party requests for user information</a></li>
                <li class="dropdown--item"><a href="">P11. Data about third-party requests for user information</a></li>
                <li class="dropdown--item"><a href="">P12. User notification about third-party requests for user information</a></li>
                <li class="dropdown--item"><a href="">P13. Security oversight</a></li>
                <li class="dropdown--item"><a href="">P14. Addressing security vulnerabilities</a></li>
                <li class="dropdown--item"><a href="">P15. Data breaches</a></li>
                <li class="dropdown--item"><a href="">P16. Encryption of user communication and private content (Internet, software, and device companies)</a></li>
                <li class="dropdown--item"><a href="">P17. Account Security (Internet, software, and device companies)</a></li>
                <li class="dropdown--item"><a href="">P18. Inform and educate users about potential risks</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav--item download"><a href="{{ site.baseurl }}/download">Download</a></li>
        <!--<li class="nav&#45;&#45;item findings dropdown&#45;&#45;trigger" data-dropdown="dropdown-findings">-->
          <!--<a href="#">Findings</a>-->
          <!--<ul class="dropdown" id="dropdown-findings">-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/keyfindings/">Key Findings</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/recommendations">Recommendations</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/methodologyandscoring/">Methodology and scoring</a></li>-->
<!--&lt;!&ndash;       -->
<!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/">Key stories</a></li>-->
<!--&ndash;&gt;-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/mobileecosystems/">Mobile ecosystems</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/networkshutdowns/">Network shutdowns</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/russia/">Russian companies</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/findings/china/">Chinese Companies</a></li>                        -->
          <!--</ul>          -->
        <!--</li>-->

      </ul>
    </div>
  </div>
</div> <!-- .secondary-banner -->