<div class="footer">
  <div class="row contain">
    <ul class="footer--links">

      <li class="footer--link commons">
        <img src="{{ site.baseurl }}/assets/graphics/layout/commons.svg"></img>
      </li>

      <li class="footer--link">
        <a href="mailto:info@rankingdigitalrights.org"><span class="collecticon collecticon-envelope"></span></a>
        <a href="mailto:info@rankingdigitalrights.org">info@rankingdigitalrights.org</a>
      </li>

      <li class="footer--link">
        <a href="https://twitter.com/rankingrights" class="footer--icon" target="_blank"><span class="collecticon collecticon-twitter"></span></a>
        <a href="https://twitter.com/rankingrights" class="footer--icon" target="_blank">@RankingRights</a>
      </li>

      <li class="footer--link">
        <a href="https://rankingdigitalrights.org/feed/" class="footer--icon" target="_blank"><span class="collecticon collecticon-rss-feed"></span></a>
        <a href="https://rankingdigitalrights.org/feed/" class="footer--icon" target="_blank">RSS</a>
      </li>
      <li class="footer--link">
        <a href="https://rankingdigitalrights.org/privacypolicy" class="footer--icon" target="_blank"><span class="collecticon collecticon-lock"></span></a>
        <a href="https://rankingdigitalrights.org/privacypolicy" class="footer--icon" target="_blank">Privacy Policy</a>
      </li>

    </ul>
  </div>
</div>